/* compiled by scssphp v0.0.11 on Tue, 23 Apr 2019 10:16:19 +0000 (0.0205s) */

.header-wrap {
  background-color: #fff;
  font-family: 'Avenir Heavy', sans-serif; }
  @media (max-width: 767px) {
      .header-wrap .menu-nav-container li, .header-wrap .desktop-menu-nav-container li {
        background-color: rgba(246, 241, 241, 0.85); } }
    .header-wrap .menu-nav-container li a, .header-wrap .desktop-menu-nav-container li a, .header-wrap .menu-nav-container li strong, .header-wrap .desktop-menu-nav-container li strong {
      color: #000; }
      @media (min-width: 768px) {
    .header-wrap .menu-nav-container li a, .header-wrap .desktop-menu-nav-container li a, .header-wrap .menu-nav-container li strong, .header-wrap .desktop-menu-nav-container li strong {
      color: #5c5e62; }
      .header-wrap .menu-nav-container li a.buy, .header-wrap .desktop-menu-nav-container li a.buy, .header-wrap .menu-nav-container li strong.buy, .header-wrap .desktop-menu-nav-container li strong.buy {
        border-radius: 10px; }
        .header-wrap .menu-nav-container li a.buy strong, .header-wrap .desktop-menu-nav-container li a.buy strong, .header-wrap .menu-nav-container li strong.buy strong, .header-wrap .desktop-menu-nav-container li strong.buy strong {
          color: #fff; } }
  @media (min-width: 881px) and (max-width: 992px) {
  .header-wrap #nav li {
    margin-left: 15px; }
  .header-wrap.header-wrap .logo {
    width: 110px; } }

.home-banner-wrapper {
  height: 400px;
  background-size: cover;
  width: 100%;
  left: 0;
  background-repeat: no-repeat;
  background-position: 50% 50%; }
  @media (min-width: 768px) and (max-width: 1440px) {
  .home-banner-wrapper {
    height: 700px; } }
  @media (min-width: 1441px) {
  .home-banner-wrapper {
    height: 820px; } }
  .home-banner-wrapper p {
    max-width: 100%; }
    @media (min-width: 768px) {
  .home-banner-wrapper p {
    max-width: 450px;
    margin: 0; } }
  .home-banner-wrapper .title strong {
    font-weight: 900; }
  .home-banner-wrapper .mac-image {
    width: 80%;
    position: absolute;
    bottom: 10px;
    right: -40%; }
  .home-banner-wrapper .head-main-title {
    padding-top: 35px;
    padding-bottom: 35px;
    text-align: left;
    height: 100%; }
  .home-banner-wrapper .app-store-link {
    position: absolute;
    width: 180px;
    bottom: 10%;
    left: 20px; }

.iphone-section-wrapper .head-main-title h1.title, .iphone-section-wrapper .head-main-title h1.title strong, .iphone-section-wrapper .head-main-title h1.title span, .iphone-section-wrapper .head-main-title p {
  color: #000;
  text-shadow: none; }

.user-container {
  background-color: #f5f5f5;
  padding-top: 35px;
  padding-bottom: 35px; }
  .user-container .user-block {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    height: 59px;
    background-size: cover;
    padding: 0 10px; }
    .user-container .user-block:last-child {
      margin-bottom: 0; }
    .user-container .user-block svg {
      width: 35px;
      height: 35px;
      margin-right: 30px; }
    .user-container .user-block span {
      color: #3c3c50;
      font-weight: 900;
      letter-spacing: 1.5px; }
  .user-container .tutorials-block {
    background: #fff;
    border-radius: 10px;
    padding: 15px; }
    .user-container .tutorials-block span {
      color: #3c3c50;
      font-weight: 900;
      letter-spacing: 1.5px;
      display: block;
      margin-bottom: 10px;
      text-align: center; }
    .user-container .tutorials-block .tutorials-images {
      display: flex;
      align-items: center;
      justify-content: space-between; }
    .user-container .tutorials-block .tutorials-images .tutorials-icons {
      width: 30%; }
      .user-container .tutorials-block .tutorials-images .tutorials-icons img {
        width: 100%; }
  @media (min-width: 768px) {
    .user-container .user-wrapper {
      display: flex;
      justify-content: space-between; }
      .user-container .user-wrapper .user-guide-block, .user-container .user-wrapper .tutorials-block {
        width: 48%; }
        .user-container .user-wrapper .user-guide-block .user-block, .user-container .user-wrapper .tutorials-block .user-block {
          height: 105px; }
        .user-container .user-wrapper .user-guide-block .tutorials-images, .user-container .user-wrapper .tutorials-block .tutorials-images {
          height: calc(100% - 50px); } }
