/* compiled by scssphp v0.0.11 on Thu, 09 May 2019 09:57:43 +0000 (0.006s) */

@media screen and (max-width: 500px) {
      #hero .cls-iPad .hero-text .text {
        width: 60%; } }

.iphone-section-carousel-container .iphone-carousel-wrap .iphone-wrap.ipad-wrap .iphone-slider .flex-control-nav.flex-control-paging {
  bottom: -70px; }
  @media (min-width: 768px) {
  .iphone-section-carousel-container .iphone-carousel-wrap .iphone-wrap.ipad-wrap .iphone-slider .flex-control-nav.flex-control-paging {
    bottom: -95px; } }

.iphone-section-carousel-container .iphone-carousel-wrap .iphone-wrap.mac-wrap .iphone-slider .flex-control-nav.flex-control-paging {
  bottom : -70px; }
  @media (min-width: 768px) {
  .iphone-section-carousel-container .iphone-carousel-wrap .iphone-wrap.mac-wrap .iphone-slider .flex-control-nav.flex-control-paging {
    bottom: -142px; } }

.ipad-wrap.tools-container {
  transform: rotate(90deg); }
  .ipad-wrap.tools-container img {
    transform: rotate(270deg); }

.desktop-image {
  display: none; }

@media (min-width: 768px) {
  .mobile-image {
    display: none; }

  .desktop-image {
    display: block; } }
