/* compiled by scssphp v0.0.11 on Mon, 13 May 2019 15:20:10 +0000 (0.016s) */

@media screen and (max-width: 500px) {
      #hero .hero-text .text {
        width: 70%; } }

.iphone-section-carousel-container .iphone-carousel-wrap .iphone-wrap.ipad-wrap .iphone-slider .flex-control-nav.flex-control-paging {
  bottom: -70px; }
  @media (min-width: 768px) {
  .iphone-section-carousel-container .iphone-carousel-wrap .iphone-wrap.ipad-wrap .iphone-slider .flex-control-nav.flex-control-paging {
    bottom: -95px; } }

.iphone-section-carousel-container .iphone-carousel-wrap .iphone-wrap.mac-wrap .iphone-slider .flex-control-nav.flex-control-paging {
  bottom : -70px; }
  @media (min-width: 768px) {
  .iphone-section-carousel-container .iphone-carousel-wrap .iphone-wrap.mac-wrap .iphone-slider .flex-control-nav.flex-control-paging {
    bottom: -141px; } }
  @media (min-width: 1024px) and (max-width: 1200px) {
  .iphone-section-carousel-container .iphone-carousel-wrap .iphone-wrap.mac-wrap .iphone-slider .flex-control-nav.flex-control-paging {
    bottom: -120px; } }
  @media (min-width: 768px) and (max-width: 992px) {
  .iphone-section-carousel-container .iphone-carousel-wrap .iphone-wrap.mac-wrap .iphone-slider .flex-control-nav.flex-control-paging {
    bottom: -95px; } }

.ipad-wrap.tools-container {
  transform: rotate(90deg); }
  .ipad-wrap.tools-container img {
    transform: rotate(270deg); }

.desktop-image {
  display: none; }

@media (min-width: 768px) {
  .mobile-image {
    display: none; }

  .desktop-image {
    display: block; } }

.tools-wrapper .tools-container {
  align-items: center; }
  @media (min-width: 1024px) {
        .tools-wrapper .tools-container .text-boxes-block .text-box-wrap {
          margin-bottom: 50px !important; } }

.ipad-section-carousel .text-boxes-block {
  margin-top: 70px; }

@media (min-width: 768px) {
    .iphone-section-carousel-container.ipad-section-carousel .iphone-carousel-wrap .iphone-wrap.ipad-wrap .iphone-slider .flex-control-nav.flex-control-paging {
      bottom: -110px; } }
  @media (min-width: 992px) and (max-width: 1999px) {
  .iphone-section-carousel-container.ipad-section-carousel .iphone-carousel-wrap .iphone-wrap.ipad-wrap .iphone-slider .flex-control-nav.flex-control-paging {
    bottom: -105px; } }
  @media (min-width: 768px) and (max-width: 991px) {
  .iphone-section-carousel-container.ipad-section-carousel .iphone-carousel-wrap .iphone-wrap.ipad-wrap .iphone-slider .flex-control-nav.flex-control-paging {
    bottom: -88px; } }
  @media (max-width: 767px) {
  .iphone-section-carousel-container.ipad-section-carousel .iphone-carousel-wrap .iphone-wrap.ipad-wrap .iphone-slider .flex-control-nav.flex-control-paging {
    bottom: -82px; } }
  @media (max-width: 500px) {
  .iphone-section-carousel-container.ipad-section-carousel .iphone-carousel-wrap .iphone-wrap.ipad-wrap .iphone-slider .flex-control-nav.flex-control-paging {
    bottom: -75px; } }

@media (min-width: 768px) {
  #hero .hero-text .title {
    margin-bottom: 10px;
    font-weight: 300;
    font-size: 35px; }
    #hero .hero-text .text {
      max-width: 310px;
      margin: 0;
      font-size: 17px;
      width: auto; } }
