/* compiled by scssphp v0.0.11 on Thu, 09 May 2019 06:45:44 +0000 (0.0257s) */

#heroSection .cls-iPhone .common-app-link svg g .cls-3 {
  fill: #fff; }
  #heroSection .cls-iPhone .title, #heroSection .cls-iPhone .title strong, #heroSection .cls-iPhone .text {
    color: #3d3c4f; }

.carousel-head {
  margin-bottom: 20px;
  font-weight: 700; }
  @media (min-width: 768px) {
  .carousel-head {
    font-size: 36px;
    margin-bottom: 49px; } }

p, span, h4 {
  color: #3d3c4f !important; }

p {
  color: #505063; }

.iphone-section-carousel-container {
  padding-top: 35px;
  padding-bottom: 35px;
  position: relative; }
  @media (min-width: 768px) {
  .iphone-section-carousel-container {
    padding-top: 50px;
    padding-bottom: 50px; } }
  .iphone-section-carousel-container .iphone-carousel-wrap {
    position: static; }
    .iphone-section-carousel-container .iphone-carousel-wrap .iphone-wrap .flexslider {
      width: 100%; }
      .iphone-section-carousel-container .iphone-carousel-wrap .iphone-wrap .iphone-slider {
        position: relative; }
        .iphone-section-carousel-container .iphone-carousel-wrap .iphone-wrap .iphone-slider .slides-wrapper li img {
          width: 100%; }
        .iphone-section-carousel-container .iphone-carousel-wrap .iphone-wrap .iphone-slider .flex-control-nav.flex-control-paging {
          bottom: -70px; }
          @media (max-width: 767px) {
  .iphone-section-carousel-container .iphone-carousel-wrap .iphone-wrap .iphone-slider .flex-control-nav.flex-control-paging {
    bottom: -75px; } }
          .iphone-section-carousel-container .iphone-carousel-wrap .iphone-wrap .iphone-slider .flex-control-nav.flex-control-paging li a {
            border-radius: 0;
            background-color: #e3dfdf;
            border-radius: 4px; }
            .iphone-section-carousel-container .iphone-carousel-wrap .iphone-wrap .iphone-slider .flex-control-nav.flex-control-paging li a.flex-active {
              background-color: #3d3c4f; }
      .iphone-section-carousel-container .iphone-carousel-wrap .iphone-wrap .flex-direction-nav .flex-prev {
        left: -10%; }
        @media (min-width: 768px) and (max-width: 1024px) {
    .iphone-section-carousel-container .iphone-carousel-wrap .iphone-wrap .flex-direction-nav .flex-prev {
      left: -20%; } }
        .iphone-section-carousel-container .iphone-carousel-wrap .iphone-wrap .flex-direction-nav .flex-next {
          right: -10%; }
        @media (min-width: 768px) and (max-width: 1024px) {
    .iphone-section-carousel-container .iphone-carousel-wrap .iphone-wrap .flex-direction-nav .flex-next {
      right: -20%; } }

.photoshop-section {
  padding-top: 35px;
  padding-bottom: 35px; }
  .photoshop-section .photoshop-title-block {
    padding: 0 45px;
    text-align: center; }
    .photoshop-section .photoshop-title-block p {
      margin-bottom: 20px; }
  .photoshop-section .photoshop-image img {
    width: 100%; }
    @media (max-width: 767px) {
    .photoshop-section .photoshop-image.container {
      margin: 0;
      padding: 0;
      max-width: 100%;
      height: auto; } }
  .photoshop-section.container {
    height: auto; }
  .photoshop-section .container {
    height: auto; }

.text-box-wrap {
  background-color: #f5f5f5;
  border-radius: 25px;
  padding: 30px;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 15px; }
  @media (min-width: 768px) {
  .text-box-wrap {
    width: 45%;
    height: 310px; } }
  @media (min-width: 1024px) {
  .text-box-wrap {
    width: 30%;
    height: 325px;
    margin-bottom: 0; } }
  .text-box-wrap p {
    text-align: center; }
  .text-box-wrap img {
    width: 50px; }
  .text-box-wrap .sub-title {
    font-weight: 900;
    display: block;
    padding: 15px 0; }
  .text-box-wrap .sub-title {
    font-size: 15px;
    color: #505064 !important; }
  .text-box-wrap:last-child {
    margin-bottom: 0; }

.features-section .features-block {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; }
  @media (max-width: 767px) {
    .features-section .features-block .text-box-wrap:nth-child(even) {
      margin-bottom: 40px;
      margin-top: -20px; }

    .features-section .features-block .text-box-wrap:nth-child(2) {
      margin-top: 0px; } }
  .features-section .features-block .text-box-wrap {
    padding: 20px;
    width: 48%;
    margin-bottom: 20px; }
    @media (min-width: 768px) {
    .features-section .features-block .text-box-wrap {
      width: 47%;
      height: auto; } }
    @media (min-width: 992px) {
    .features-section .features-block .text-box-wrap {
      width: 30%; } }
    @media (min-width: 1200px) {
    .features-section .features-block .text-box-wrap {
      width: 24%; } }
    .features-section .features-block .text-box-wrap p {
      text-align: center; }
  @media (max-width: 767px) {
      .features-section .features-block.container {
        margin: 0;
        padding: 0;
        max-width: 100%;
        height: auto; } }

.design-image img {
  width: 100%; }
  @media (max-width: 767px) {
    .design-image.container {
      margin: 0;
      padding: 0;
      max-width: 100%;
      height: auto; } }

@media (min-width: 768px) {
      .icon-branded-section img {
        width: 135px; } }
  .icon-branded-section .text strong {
    color: #000; }

.carousel-header-section {
  margin-bottom: 25px;
  text-align: center; }
  .carousel-header-section p {
    color: #505064 !important;
    font-size: 17px; }

.text-boxes-block {
  margin-top: 40px; }
  @media (min-width: 768px) {
  .text-boxes-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 50px; } }

.tools-container {
  display: flex;
  justify-content: space-between; }
  .tools-container .tools-wrap {
    width: 100%; }
  .tools-container .tools-wrap img {
    width: 100%; }
  @media (min-width: 768px) {
  .tools-container .tools-wrap {
    width: 45%; }
    .tools-container .tools-wrap img {
      width: 100%; } }
  @media (min-width: 1024px) {
  .tools-container .text-boxes-block {
    width: 40%;
    justify-content: space-around;
    border-radius: 25px;
    background-color: #f5f5f5;
    margin: 0;
    padding: 20px 30px; }
    .tools-container .text-boxes-block .text-box-wrap {
      width: 100%;
      padding: 0;
      height: auto; }
  .tools-container.five-section-container {
    flex-direction: row-reverse; } }
  @media (max-width: 992px) {
  .tools-container {
    flex-direction: column-reverse;
    align-items: center; }
    .tools-container .text-boxes-block {
      margin: 0; } }

.ipad-secton-section img, .iphone-section4-conatiner img {
  width: 100%; }
  .ipad-secton-section + .text-boxes-block, .iphone-section4-conatiner + .text-boxes-block {
    margin: 0; }
