/* compiled by scssphp v0.0.11 on Tue, 07 May 2019 04:56:08 +0000 (0.0179s) */

.tutorial-container {
  background-color: #f5f5f5;
  width: 100%;
  text-align: center;
  padding-bottom: 0; }
  .tutorial-container .content {
    border: 0; }
  .tutorial-container .grid-container h2 {
    margin: 0;
    padding: 20px 0; }
    @media (min-width: 768px) {
    .tutorial-container .grid-container h2 {
      text-align: left; } }
    @media (min-width: 768px) {
    .tutorial-container .grid-container .item-grid.format_text {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between; } }
    .tutorial-container .grid-container .pagination a {
      background-color: #fff;
      border: 0;
      color: #3d3c4f;
      border-radius: 6px;
      font-weight: 700; }
    .tutorial-container .grid-container .pagination a.active {
      background-color: #3d3c4f;
      color: #fff; }
  .tutorial-container .post-meta .headerImage {
    height: auto; }
    .tutorial-container .post-meta .headerImage img {
      width: 100%; }
  .tutorial-container .tutorial_steps {
    text-align: left; }
    .tutorial-container .tutorial_steps h1 p {
      font-weight: 500; }
    .tutorial-container .tutorial_steps h2 {
      background: #3d3c4f !important;
      color: #fff !important;
      padding: 10px;
      border-radius: 10px;
      text-align: center;
      font-size: 1.2em;
      display: inline-block;
      margin: 20px 0; }
    @media (max-width: 767px) {
      .tutorial-container .tutorial_steps figure img {
        width: 100%; } }
    .tutorial-container .tutorial_steps a {
      color: #3d3c4f;
      border-bottom: 1px solid #3d3c4f; }
  .tutorial-container .post-sub-button a {
    background-color: #f5f5f5;
    color: #000; }
    .tutorial-container .post-sub-button a:hover {
      background-color: #3d3c4f;
      color: #f5f5f5; }
  .tutorial-container .social-links {
    width: 40px;
    display: inline-block;
    width: 35px;
    height: 35px; }
    .tutorial-container .social-links .share-button {
      width: 100%;
      padding: 0;
      margin: 0; }
  .tutorial-container .graphic-file-wrap a {
    border: 0;
    color: #3d3c4f;
    font-weight: 600; }
    .tutorial-container .graphic-file-wrap .file-wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column; }
    .tutorial-container .graphic-file-wrap .file-wrapper strong {
      text-align: center; }
      .tutorial-container .graphic-file-wrap .file-wrapper strong a {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        align-items: center;
        border: 0;
        background: #3d3c4f;
        color: #fff;
        padding: 10px;
        border-radius: 5px;
        margin-top: 10px; }
        .tutorial-container .graphic-file-wrap .file-wrapper strong a img {
          width: 20px;
          margin: 0;
          margin-left: 15px;
          border: 0;
          outline: none; }
  .tutorial-container .item-grid li {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .35); }

.individual-tutorial .content {
  border: 0; }
