/* compiled by scssphp v0.0.11 on Mon, 13 May 2019 11:51:18 +0000 (0.0401s) */

.footer-container {
  background-color: #141428;
  padding-top: 50px;
  padding-bottom: 50px; }
  .footer-container .footer-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }
    .footer-container .footer-links li {
      width: 48%; }
      .footer-container .footer-links li a {
        background-color: #a0a5c8;
        color: #141428;
        display: block;
        text-align: center;
        padding: 14px 0;
        margin-bottom: 10px;
        border-radius: 4px; }
        .footer-container .footer-links li a strong {
          font-weight: 900;
          color: #141428; }
  .footer-container .social-media-links {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 50px 0 25px; }
    @media (min-width: 768px) {
  .footer-container .social-media-links {
    width: 60%;
    margin: 0 auto;
    padding-bottom: 48px; } }
    .footer-container .social-media-links li {
      width: 36px; }
  .footer-container p.copy-right-text {
    color: #a0a5c8 !important;
    text-align: center;
    font-size: 15px;
    line-height: 1.6; }
    @media (min-width: 768px) {
  .footer-container p.copy-right-text {
    margin: 0; } }
  @media (max-width: 767px) {
      .footer-container .footer-inner-wrap .footer-graphic-image {
        display: none; } }
    @media (min-width: 768px) {
  .footer-container .footer-inner-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between; }
    .footer-container .footer-inner-wrap .footer-links {
      order: 3; }
      .footer-container .footer-inner-wrap .footer-links li a {
        background-color: transparent;
        color: #a0a5c8;
        text-align: left;
        padding: 0;
        font-size: 13px;
        line-height: 1.85; }
        .footer-container .footer-inner-wrap .footer-links li a strong {
          color: #a0a5c8; }

      .footer-container .footer-inner-wrap .footer-links li:nth-child(5) a, .footer-container .footer-inner-wrap .footer-links li:nth-child(6) a {
        margin-bottom: 0; }
    .footer-container .footer-inner-wrap .footer-graphic-image img {
      width: 100px; }
    .footer-container .footer-inner-wrap .social-icons, .footer-container .footer-inner-wrap .footer-graphic-image, .footer-container .footer-inner-wrap .footer-links {
      width: 35%; }
    .footer-container .footer-inner-wrap .footer-graphic-image {
      width: 20%; } }
      @media (min-width: 768px) and (min-width: 768px) {
        .footer-container .footer-inner-wrap .footer-links li a {
          margin: 0; } }
