.footer-container{
    background-color: #141428;
    padding-top: 50px ;
    padding-bottom: 50px ;
    .footer-links{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        li {
            width: 48%;
            a{
                background-color: rgba(160, 165, 200, 1);
                color: rgba(20, 20, 40, 1);
                display: block;
                text-align: center;
                padding: 10px 0;
                margin-bottom: 15px;
                border-radius: 5px;

                strong{
                    font-weight: 900;
                    color: rgba(20, 20, 40, 1);
                }
            }
        }
    }
    .social-media-links{
      
       
           display: table;
           width: auto;
            li{
               float: left;
               margin-right: 30px;
                width: 36px;
                height: 36px;
                svg{
                    width: 100%;
                }
               &:last-child{
                   margin-right: 0px;
               }
           }
        @media (min-width: 768px){
            margin: 0 auto;
            padding-bottom: 30px;
        }
       @media (max-width: 767px){
           display: flex;
            width: 60%;
            justify-content: space-evenly;
            margin: 50px auto 25px;
             li{
                 margin-right: 0;
             }
       }
       
    }
    p.copy-right-text{
        color: rgba(160, 165, 200, 1) !important;
        text-align: center;
        font-size: 15px;
        line-height: 1.6;
        @media (min-width: 768px) {
            margin: 0;
        }
    }
    .footer-inner-wrap{
        .footer-graphic-image{
            @media (max-width: 767px) {
                display: none;
            }
        }
        @media (min-width: 768px) {
            display: flex;
            align-items: center;
            justify-content: space-between;
            .footer-links{
                order: 3;
                li a{
                    background-color: transparent;
                    color: #a0a5c8;
                    text-align: right;
                    padding: 0;
                    font-size: 13px;
                    line-height: 1.85;
                   
                    strong{
                        color: #a0a5c8;
                    }
                }
                li:nth-child(5),li:nth-child(6){
                    a{
                        margin-bottom: 0;
                    }
                }
            }
            .footer-graphic-image{

                img{
                    width: 100px;
                    
                }
                
            }
            .social-icons, .footer-graphic-image, .footer-links{
                width: 35%;
            }
            .footer-graphic-image{
                width: 20%;
            }
        }
    }
}



