.header-wrap{
    background-color: #fff;
    font-family: 'Avenir-Heavy', sans-serif;
        @media (min-width: 1024px) {
            height: 70px;
            border-bottom: 1px solid  #f5f5f5;
            .header{
                display: flex;
                align-items: center;
                justify-content: space-between;
            }
        }
        .header{
            border-bottom: 1px solid  #f5f5f5;
        }
        .logo a{
            display: flex;
            width: 141px;
            height: 50px;
            @media (max-width: 1023px) {
                display: block;
            }
            img{
                width: 100%;
                height: 100%;
            }
        }
    .menu-nav-container, .desktop-menu-nav-container {
        li{
            @media (min-width: 1024px) {
                margin-left: 10px!important;
            }
            @media (min-width: 1200px) {
                margin-left: 41px!important;
               
            }
            @media (max-width: 880px) {
                background-color: rgba(255, 255, 255, 0.85);
               
            }
            a{
                @media (min-width: 881px) {
                    border-radius: 5px;
                    &:hover{
                        background-color: #f5f5f5 ;
                    }
                }
                &:focus{
                    outline: none;
                }
            }
           
            a, strong{
                font-family: 'Avenir', sans-serif;
                font-size: 15px;
                color: #3c3c50;
               
               
                @media (min-width: 768px){
                    // color: #5c5e62;
                    &.buy{
                        border-radius: 5px;
                        text-transform: uppercase;
                        padding: 15px 24px;
                        background-color: #1a9fe7;
                        strong{
                            color:#fff;
                        }
                        &:hover{
                            background-color: #1a9fe7;
                        }
                        
                    }
                }
            }

        }
        ul li a{
            &.active{
                font-weight: 900;
            }
          
        }
        
        @media (min-width: 881px) {
            ul li a{
                padding: 10px 10px;
                border-radius: 5px;
                &.active{
                    background: #3d3c4f !important;
                    color: #fff!important;
                    
                }
            }
        }
        @media (min-width: 992px) {
            ul li a{
                padding: 7.5px 24px;
            }
        }
        ul li a{
            &.active{
                font-weight: 900;
            }
        }
        @media (min-width: 992px) {
            ul li a{
                &.active{
                    background: #3d3c4f !important;
                    color: #fff!important;
                    padding: 7.5px 24px;
                    border-radius: 5px;
                }
            }
        }
    }
    // @media (min-width: 881px){
    //     #nav li{
    //         margin-left: 10px;
    //     }
    
    // }
    @media (min-width: 881px) and (max-width:1023px ) {
        #nav li{
            margin-left: 10px;
        }
        &.header-wrap .logo{
            width: 110px;
        }
    }
}


// home page styles
// @media (max-width: 767px){
    .home-banner-wrapper{
        height: 700px;
        background-size: cover;
        width: 100%;
        left: 0;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        cursor: pointer;
        .home-nav-link{
            display: block;
            height: 100%;
        }
        @media (min-width: 768px) and (max-width:1440px){
            height: 700px;
        }
        @media (min-width:1441px){
            height: 820px;
        }
        p{
            max-width: 100%;
            @media (min-width: 768px){
                max-width: 350px;
                margin: 0;
                line-height: 24px;
                font-size: 17.5px;
            }
        }
        .title{
            margin-bottom: 32px;
            p{
                line-height: 1.37;
            }
            @media (min-width: 881px) {
                margin-bottom: 30px;
            }
            strong{
                font-family: 'Avenir-Heavy', sans-serif;
            }
            
        }
        .mac-image{
            width: 80%;
            position: absolute;
            bottom: 10px;
            right: -40%;
        }

        .head-main-title{
            padding-top: 70px ;
            padding-bottom: 70px ;
            text-align: left;
            height: 100%;
            @media (max-width: 767px) {
                
                p{
                    max-width: 70%;
                    margin: 0;
                    font-size: 17.5px;
                }
               
            }
            font-family: Avenir, sans-serif!important;
           .title, .subtitle{
            font-family: Avenir, sans-serif!important;
           }
            
        }
        .app-store-link{
            position: absolute;
            width: 220px;
            bottom: 9%;
            left:25px;
        }
    }
    .iphone-section-wrapper{
        .head-main-title{
            h1.title,h1.title strong,h1.title span, p{
                color: #000;
                text-shadow: none;
            }
        }
    }


// }

.user-container{
    background-color: #f5f5f5;
    padding:20px 0;
    .user-block{
        width: 100%;
        display: flex;
        align-items: center;
        margin-bottom: 20px;
        height: 85px;
        background-size: cover;
        padding: 0 35px;
        background-color: #fff;
        border-radius: 15px;
        justify-content: space-between;
        @media (max-width: 767px){
            height: 85px;
        }
        img{
            width: 40px;
            height: 33px;
        }
        span{
            color: #3c3c50;
            font-weight: 700;
            letter-spacing: 1px;
            font-size: 20px;
            width: 100%;
            text-align: center;
        }
    }
    .tutorials-block{
        background: #fff;
        border-radius: 10px;
        padding: 20px;
        span{
            color: #3c3c50;
            font-weight: 700;
            letter-spacing: 2px;
            font-size: 20px;
            display: block;
            margin-bottom: 20px;
            text-align: center;
        }
        .tutorials-images{
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            .tutorials-icons{
                display: block;
                width: 31%;
               img{
                   width: 100%;
               }
            }
        }
    }
    .user-wrapper{
        @media (min-width: 768px) {
            display: flex;
            justify-content: space-between;
            .user-guide-block,.tutorials-block{
                height: 295px;
                .user-block{
                    height: 85px;
                } 
            }
            .user-guide-block{
                width: 38%;
            }
            .tutorials-block{
                width: 60%;
            }
        }
    }
}

