#hero {
    .hero-text .text{
        @media screen and (max-width: 500px){
            width: 70%;
        }
    }
    
}



.iphone-section-carousel-container .iphone-carousel-wrap .iphone-wrap.ipad-wrap .iphone-slider .flex-control-nav.flex-control-paging{
    bottom: -70px;
    @media (min-width: 768px) {
        bottom: -95px;
    }
}

.iphone-section-carousel-container .iphone-carousel-wrap .iphone-wrap.mac-wrap .iphone-slider .flex-control-nav.flex-control-paging{
    bottom : -70px;
    @media (min-width: 768px){
        bottom: -141px;
    }
    @media (min-width: 1024px) and (max-width: 1200px) {
        bottom: -120px;
    }
    @media (min-width: 768px) and (max-width: 992px) {
        bottom: -95px;
    }
}


.ipad-wrap.tools-container{
    transform: rotate(90deg);
    img{
        transform: rotate(270deg);
    }
}

.desktop-image{
    display: none;
}
@media (min-width: 768px) {
    .mobile-image{
        display: none;
    }
    .desktop-image{
        display: block;
    }
}
.tools-wrapper {
    .tools-container{
        .text-boxes-block{
           
            .text-box-wrap{
                @media (min-width: 1024px) {
                    margin-bottom: 50px!important;
                    &:last-child{
                        margin-bottom: 0!important;
                    }
                }
               
               
            }
            @media (max-width: 767px) {
                margin-top: 0px!important;
            }
        }
    }
}
.ipad-section-carousel{
    .text-boxes-block{
        // margin-top: 70px;
        // @media (min-width: 768px){
           
        // }
    }
    
}
.iphone-section-carousel-container.ipad-section-carousel .iphone-carousel-wrap .iphone-wrap.ipad-wrap .iphone-slider .flex-control-nav.flex-control-paging{
    @media (min-width: 768px){
        bottom: -110px;
    }
    @media (min-width: 992px) and (max-width: 1999px){
        bottom: -80px;
    }
    @media (min-width: 768px) and (max-width: 991px){
        bottom: -65px;
    }
    @media (max-width: 767px){
        bottom: -82px;
    }
    @media (max-width: 500px){
        bottom: -65px;
    }
}

// @media (min-width: 768px){
//     #hero{
//         .hero-text{
//             .title{
//                 margin-bottom: 10px;
//                 font-size: 35px;
//             }
//             .text{
//                 max-width: 310px;
//                 margin: 0;
//                 font-size: 17.5px;
//                 width: 70%;
//             }
//         }
//     }
// }
