#heroSection .cls-iPhone{
    .title{
        color: #141428;
        margin-bottom: 32px;
            p{
                line-height: 1.37;
            }
            @media (min-width: 881px) {
                margin-bottom: 30px;
            }
    }
    .common-app-link{
        svg g .cls-3{
            fill: #fff;
        }
    }
    .title, .title strong, .text{
        color: #141428;
    }
    
}

.carousel-head{
    margin-bottom: 20px;
    font-weight: 700;
    color: #3c3c50!important;
    line-height: 30px;
    @media (min-width: 768px) {
        font-size: 36px;
        margin-bottom: 30px;
    }
    
}
p,span,h4{
    color: #3d3c4f!important;
}

p{
    color: #505063;
}

.iphone-section-carousel-container{
    padding-top: 50px;
    position: relative;
    @media (min-width: 768px) {
        padding-bottom: 0px;
    }
    .iphone-carousel-wrap{
        position: static;
        .iphone-wrap{
            .flexslider {
                width: 100%;
            }
            .iphone-slider{
                position: relative;

                .slides-wrapper {
                    li{
                        img{
                            width: 100%;
                            border-radius: 2px;
                        }
                        video{
                            width: 100%;
                            height: 100%;
                        }
                    }
                }
                .flex-control-nav.flex-control-paging{
                    bottom: -155px;
                    @media (max-width: 767px) {
                        bottom: -75px;
                    }
                    li a{
                        border-radius: 0;
                        background-color: #e3dfdf;
                        border-radius: 4px;
                        &.flex-active{
                            background-color: #3d3c4f;
                        }
                    }
                }
            }
            .flex-direction-nav {
                .flex-prev{
                    left: -50px;
                    @media (min-width: 992px) and (max-width: 1024px) {
                        left: -10%;
                    }
                    @media (min-width: 768px) and (max-width: 991px) {
                        left: -20%;
                    }
                    @media (min-width: 992px) and (max-width: 1024px) {
                        left: -5%;
                    }
                }
                .flex-next{
                    right: -50px;
                    @media (min-width: 992px) and (max-width: 1024px) {
                        right: -10%;
                    }
                    @media (min-width: 992px) and (max-width: 1024px) {
                        right: -5%;
                    }
                    @media (min-width: 768px) and (max-width: 991px) {
                        right: -20%;
                    }
                }
                @media (max-width: 767px) {
                    display: none;
                }
            }
        }
    }
}

.photoshop-section{
    padding-top: 50px;
    .photoshop-title-block{
        text-align: center;
        p{
            margin-bottom: 50px;
        }
    }
    .photoshop-image{
        img{
            width: 100%;
        }
        // @media (min-width: 768px){
        //     max-width: 70%;
        //     margin: 0 auto;
        // }
        &.container{
            @media (max-width: 767px) {
                margin: 0!important;
                padding: 0!important;
                max-width: 100%!important;
                height: auto!important;
            }
           
        }
    }
    &.container{
        height: auto!important;  
    }
    .container{
        height: auto;  
    }
}

.text-box-wrap{
    background-color: #f5f5f5;
    border-radius: 30px;
    padding: 50px 25px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 15px;
    @media (min-width: 768px) and (max-width: 1023px){
        width: 32%;
        height: 410px;
        padding: 20px;
        margin-bottom: 0;
    }
    @media (min-width: 1024px){
        width: 30%;
        height: 360px;
        margin-bottom: 0;
    }
    p{
        text-align: center;
    }
    img{
        width: 60px;
        height: 60px;
    }
    .sub-title{
        font-weight: 900;
        display: block;
        padding: 15px 0 ;
        font-size: 19px;
        color: #3c3c50!important;
        text-align: center;
    }    
    &:last-child{
        margin-bottom: 0;
    }
}
.features-section{
    .features-block{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        @media (max-width: 767px){
            .text-box-wrap:nth-child(even){
                margin-bottom: 40px;
                margin-top: -20px;
            }
            .text-box-wrap:nth-child(2){
                margin-top: 0px;
            }
            &.container{
                padding: 0!important;
                margin: 0!important;
                width: 100%!important;
            }
        }
        .text-box-wrap{
            padding: 25px;
            width: 48%;
            margin-bottom: 20px;
            @media (min-width: 768px){
                padding: 50px;
                width: 47%;
                height: auto;
            }
            @media (min-width: 992px){
                width: 30%;
            }
            @media (min-width: 1200px){
                width: 32%;
            }
            
           
           p{
               text-align: center;
           }
        }
        &.container{
            @media (max-width: 767px) {
                margin: 0!important;
                padding: 0!important;
                max-width: 100%!important;
                height: auto!important;
            }
           
        }
    }
}
.design-image{
    img{
        width: 100%;
        margin-bottom: 40px;
    }
    &.container{
        @media (max-width: 767px) {
            margin: 0!important;
            padding: 0!important;
            max-width: 100%!important;
            height: auto!important;
        }
       
    }
}
.icon-branded-section{
    img{
        @media (min-width: 768px) {
            width: 100px;
        }
    }
    .text strong{
        color: #3c3c50;
        font-family: "Avenir-Black", sans-serif;
    }
}

.carousel-header-section{
    margin-bottom: 50px;
    text-align: center;
    p{
        color: #505064!important;
        font-size: 17px;
        line-height: 24px;
    }
} 

.text-boxes-block{
    margin-top: 40px;
    @media (min-width: 768px) {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        margin-top: 0px;

        
    }
    @media (min-width: 1200px) {
        margin-top: 0;
    }
 }

.tools-container{
    display: flex;
    justify-content: space-between;
    .tools-wrap{
        width: 100%;
        img{
            width: 100%;
        }
    }
    @media (min-width: 768px){
        
        .tools-wrap{
            width: 58%;
            img{
                width: 100%;
            }
        }
    }
    @media (min-width: 1024px) {
        .text-boxes-block{
            width: 40%;
            justify-content: space-around;
            border-radius: 25px;
            background-color: #f5f5f5;
            margin: 0;
            padding: 50px 30px;
            .text-box-wrap{
                width: 100%;
                padding: 0;
                height: auto;
            }
           
        }
        &.five-section-container{
            flex-direction: row-reverse;
        }
        
    }
    @media (max-width: 767px) {
        .text-boxes-block{
            margin-top: 0px!important;
            
        }
    }
   
    @media (max-width: 992px) {
        flex-direction: column-reverse;
        align-items: center;
        .text-boxes-block{
            margin-top: 70px;
        }
    }
    
    &.tools-container-block1{
        @media (max-width: 767px) {
            .text-boxes-block{
                margin-top: 40px!important;
                
            }
        }
    }

}
.ipad-secton-section, .iphone-section4-conatiner{
    max-width: 780px;
    margin: 0 auto;
    img{
        width: 100%;
    }
    + .text-boxes-block{
        margin: 0;
    }
}

.iphone-section-carousel-wrapper{
    .iphone-carousel-wrap{
        .text-boxes-block{
            margin-top: 20px;
            @media (max-width: 767px) {
                margin-top: 30px;
            }
        }
    }
}

.iphone-section-carousel-container.iphone-section-carousel-wrapper .iphone-carousel-wrap .iphone-wrap .iphone-slider .flex-control-nav.flex-control-paging{
    @media (min-width: 768px){
        bottom: -82px;
    }
    @media (min-width: 992px) and (max-width: 1999px){
        bottom: -80px;
    }
    @media (min-width: 768px) and (max-width: 991px){
        bottom: -68px;
    }
    @media (max-width: 767px){
        bottom: -69px;
    }
    @media (max-width: 500px){
        bottom: -60px;
    }
}
.sub-content{
    font-size: 15px;
    color: #505064!important;
}

.common-banner{
    .container{
        padding-top: 50px;
        padding-bottom: 70px;
       .common-app-link{
           bottom: 10%;
       }
    }
}

.ipad-video-wrap{
    // width: 75%;
    margin: 0 auto;
    video{
        width: 100%;
    }
    + .text-boxes-block{
        margin-top: 70px;
    }
}
.mac-video-wrap{
    // width: 95%;
    // padding: 3.5% 16.43% 10.7% 15.82%;
}